<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ide"
         point="org.eclipse.core.runtime.products">
      <product name="Magic Lantern Java2D Studio" application="org.eclipse.ui.ide.workbench" description="%productBlurb"> 
          <property name="windowImage" value="images/genieLamp_16x16_32bit.png"/> 
          <property name="aboutImage" value="images/MagicLanternAbout.png"/> 
          <property
                name="aboutText"
                value="%productBlurb"/> 
          <property name="appName" value="Magic Lantern Java2D Studio"/> 
          <property name="welcomePage" value="welcome.xml"/>
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
          <property
                name="windowImages"
                value="images/genieLamp_16x16_32bit.png,images/genieLamp_32x32_32bit.png,images/genieLamp_48x48_32bit.png,images/genieLamp_64x64_32bit.png,images/genieLamp_128x128_32bit.png">
          </property> 
      </product> 
   </extension>

</plugin>
