<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.core.resources.builders"
      id="GengroupBuilder"
      name="Magic Lantern gengroup Builder">
      <builder hasNature="true">
         <run class="com.wizzer.mle.studio.dpp.builder.GengroupBuilder">
         </run>
      </builder>
   </extension>

   <extension point="org.eclipse.core.resources.builders"
      id="GensceneBuilder"
      name="Magic Lantern genscene Builder">
      <builder hasNature="true">
         <run class="com.wizzer.mle.studio.dpp.builder.GensceneBuilder">
         </run>
      </builder>
   </extension>

   <extension point="org.eclipse.core.resources.builders"
      id="GenmediaBuilder"
      name="Magic Lantern genmedia Builder">
      <builder hasNature="true">
         <run class="com.wizzer.mle.studio.dpp.builder.GenmediaBuilder">
         </run>
      </builder>
   </extension>

   <extension point="org.eclipse.core.resources.builders"
      id="GentablesBuilder"
      name="Magic Lantern gentables Builder">
      <builder hasNature="true">
         <run class="com.wizzer.mle.studio.dpp.builder.GentablesBuilder">
         </run>
      </builder>
   </extension>

   <extension point="org.eclipse.core.resources.builders"
      id="GenppscriptBuilder"
      name="Magic Lantern genppscript Builder">
      <builder hasNature="true">
         <run class="com.wizzer.mle.studio.dpp.builder.GenppscriptBuilder">
         </run>
      </builder>
   </extension>

   <extension point="org.eclipse.core.resources.builders"
      id="GendppBuilder"
      name="Magic Lantern gendpp Builder">
      <builder hasNature="true">
         <run class="com.wizzer.mle.studio.dpp.builder.GendppBuilder">
         </run>
      </builder>
   </extension>
   
   <extension point="org.eclipse.core.resources.natures"
      id="MasteringNature"
      name="Magic Lantern Mastering Nature">
      <runtime>
         <run class="com.wizzer.mle.studio.dpp.nature.MasteringNature">
         </run>
      </runtime>
      <builder id="com.wizzer.mle.studio.dpp.GengroupBuilder"/>
      <builder id="com.wizzer.mle.studio.dpp.GensceneBuilder"/>
      <builder id="com.wizzer.mle.studio.dpp.GenmediaBuilder"/>
      <builder id="com.wizzer.mle.studio.dpp.GentablesBuilder"/>
      <builder id="com.wizzer.mle.studio.dpp.GenppscriptBuilder"/>
      <builder id="com.wizzer.mle.studio.dpp.GendppBuilder"/>
   </extension>

   <extension
         point="org.eclipse.ui.views"
         id="com.wizzer.mle.studio.dpp.views"
         name="Magic Lantern Studio DPP Views">
      <category
            name="Magic Lantern Studio"
            id="com.wizzer.mle.studio.viewCategory">
      </category>
      <view
            name="DPP Mastering Console"
            icon="icons/full/cview16/console_view.png"
            category="com.wizzer.mle.studio.viewCategory"
            class="com.wizzer.mle.studio.dpp.view.DppConsoleView"
            id="com.wizzer.mle.studio.dpp.view.DppConsoleView">
      </view>
   </extension>

   <extension
         id="com.wizzer.mle.studio.dpp.commands"
         name="Magic Lantern Studio DPP Commands"
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the processing of Digital Playprints."
            id="com.wizzer.mle.studio.dpp.commands.category"
            name="DPP Mastering Commands">
      </category>
      <command
            categoryId="com.wizzer.mle.studio.dpp.commands.category"
            defaultHandler="com.wizzer.mle.studio.dpp.commands.OpenDppConsoleViewHandler"
            description="Command to open a DPP Console View"
            id="com.wizzer.mle.studio.dpp.commands.openDppConsole"
            name="Open DPP Console">
      </command>
   </extension>

<!-- Remove this when no longer needed.
   <extension
         id="com.wizzer.mle.studio.dpp.menus"
         name="Magic Lantern Studio DPP Menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window">
         <command
               commandId="com.wizzer.mle.studio.dpp.commands.openDppConsole"
               icon="icons/full/cview16/console_view.png"
               id="com.wizzer.mle.studio.dpp.command.opendppconsolecommand"
               label="Open DPP Console"
               style="push">
         </command>
      </menuContribution>
   </extension>
-->

</plugin>
