<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="applicationTemplates" name="Magic Lantern Studio Templates" schema="schema/applicationTemplates.exsd"/>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
         id="com.wizzer.mle.studio.actions.contribution.set"
         label="Magic Lantern"
         visible="false">
         <menu id="com.wizzer.mle.studio.actions"
			   label="Magic Lantern"
			   icon="icons/genielamp_16x16.png"
			   path="project/additions"> 
			   <separator name="slot1"/>
			   <separator name="slot2"/>
			   <separator name="slot3"/>
		   </menu>
         <action
            id="com.wizzer.mle.studio.actions.mastertarget" 
            label="Master Target" 
            icon="icons/digitalplayprint_16x16.png"
            tooltip="Generate code and create a Digital Playprint"
            menubarPath="project/com.wizzer.mle.studio.actions/slot1"
            toolbarPath="Normal/additions"
            class="com.wizzer.mle.studio.actions.MasterTargetDelegate"
            enablesFor="1">
         </action> 
      </actionSet>
   </extension>
   
   <extension
         id="com.wizzer.mle.studio.commands"
         name="Magic Lantern Studio Commands"
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.wizzer.mle.studio.mastering.commands.category"
            defaultHandler="com.wizzer.mle.studio.handlers.MasterTargetHandler"
            description="Generates a Digital Playprint and the mastering code used to access playprint resources."
            id="com.wizzer.mle.studio.commands.mastertarget"
            name="Master Target">
      </command>
      <category
            description="Commands related to mastering Magic Lantern titles."
            id="com.wizzer.mle.studio.mastering.commands.category"
            name="Mastering">
      </category>
   </extension>
   
   <extension
         id="com.wizzer.mle.studio.menus"
         name="Magic Lantern Studio Menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.wizzer.mle.studio.toolbar.mastertarget"
               label="Master Target Toolbar">
            <command
                  commandId="com.wizzer.mle.studio.commands.mastertarget"
                  icon="icons/digitalplayprint_16x16.png"
                  id="com.wizzer.mle.studio.command.masterjava2d"
                  label="Master Target"
                  mnemonic="M"
                  style="push"
                  tooltip="Generate code and create a Digital Playprint">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.wizzer.mle.studio.expression.isStudioPerspective">
                  </reference>
               </visibleWhen>
            </command>       
         </toolbar>
      </menuContribution>
   </extension>

   <extension
         id="com.wizzer.mle.studio.perspectives"
         name="Magic Lantern Studio Perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Magic Lantern Studio"
            icon="icons/genielamp_16x16.png"
            class="com.wizzer.mle.studio.perspective.StudioPerspective"
            id="com.wizzer.mle.studio.StudioPerspective">
      </perspective>
   </extension>
  
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension 
	      targetID="com.wizzer.mle.studio.StudioPerspective">
	      <actionSet id="com.wizzer.mle.studio.actions.contribution.set"/>
      </perspectiveExtension>
   </extension>
  
   <extension
         id="natures.MleStudioNature"
         name="MLE Studio Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.wizzer.mle.studio.natures.MleStudioNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>

   <extension point="org.eclipse.ui.propertyPages">
      <page
         name="Magic Lantern Mastering"
         nameFilter="*.dwp"
         class="com.wizzer.mle.studio.properties.MasteringPropertyPage"
         id="com.wizzer.mle.studio.properties.MasteringPropertyPage">
         <enabledWhen>
            <instanceof
               value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

   <extension
         id="com.wizzer.mle.studio.contexts"
         name="Magic Lantern Studio Contexts"
         point="org.eclipse.ui.contexts">
      <context
            description="Context related to mastering Magic Lantern titles."
            id="com.wizzer.mle.studio.contexts.mastertarget"
            name="Master Target Context">
      </context>
   </extension>

   <extension
         id="com.wizzer.mle.studio.expressions.properties"
         name="Magic Lantern Studio Properties"
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.wizzer.mle.studio.properties.MasterTargetPropertyTester"
            id="com.wizzer.mle.studio.properties.mastertargetproperty"
            namespace="com.wizzer.mle.studio.properties.MasterTargetProperties"
            properties="activePerspective"
            type="org.eclipse.e4.ui.model.application.ui.advanced.MPerspective">
      </propertyTester>
   </extension>

   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="com.wizzer.mle.studio.expression.isStudioPerspective">
         <with variable="org.eclipse.e4.ui.model.application.ui.advanced.MPerspective">
            <test forcePluginActivation="true"
                  property="com.wizzer.mle.studio.properties.MasterTargetProperties.activePerspective"
                  value="com.wizzer.mle.studio.StudioPerspective">
            </test>
         </with>
      </definition>
   </extension>

</plugin>
